{% if resume.certifications.size > 0 %}
<section>
  <div class="npb">
  <h2 id="certifications" class="h3 hr-bottom">
    {{ strings.resume.certifications | default:"Certifications" }}
    <span class="symbol {{ icons.certifications | default:'icon-book' }}"></span>
  </h2>
  <ul class="cert-list">
    {% for pub in resume.certifications %}
    <li class="cert-item">
      {% if pub.website.size > 0 %}
      <a class="cert-link" href="{{ pub.website }}" target="_blank" rel="noopener noreferrer">
        <span class="cert-name">{{ pub.name }}</span>
        <span class="cert-publisher">{{ pub.publisher }}</span>
      </a>
      {% else %}
      <div class="cert-link cert-static">
        <span class="cert-name">{{ pub.name }}</span>
        <span class="cert-publisher">{{ pub.publisher }}</span>
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  </div>
</section>
{% endif %}
